# MongoDB Connection (Replace <password> with your actual password)
MONGO_URI=mongodb+srv://kumarmadhu6958_db_user:<password>@realestate-bot.fcr0mba.mongodb.net/?appName=realestate-bot

# Server Port
PORT=8080
